/* Selection */
@font-face {
    font-family: ComfortaaBold;
    src: url(Comfortaa-Bold.ttf);
}
@font-face {
    font-family: ComfortaaLight;
    src: url(Comfortaa-Light.ttf);
}
@font-face {
    font-family: ComfortaaRegular;
    src: url(Comfortaa-Regular.ttf);
}


body {
    background: #F7F3F7;
}

#head-bar {
    position: absolute;
    width: 1440px;
    height: 92px;
    left: 0px;
    top: 0px;

    background: #44223F;
}

#head-bar-name {
    position: absolute;
    width: 509px;
    height: 83px;
    left: 481px;
    top: 9px;

    font-family: ComfortaaRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 71px;
    text-align: center;

    color: #F7F3F7;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 150px;
    height: 76px;
    padding-top: 0;
}





.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 70px;
    height: 5px;
    background-color: #F7F3F7;
    margin: 20px 0;
    transition: 0.4s;
  }
  








